
// header section

.header{
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(80px, 130px) 1fr minmax(70px,auto) ;
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
    height: 100vh;
    // max-width: 1240px;
    margin: 0 auto;
    background-image: url("/img/body/dj.jpg");
    background-size: cover;
    background-position: 50%;
    
    @media(min-width:375px){
        grid-template-rows: 100px 1fr 200px;
    }
    @media(min-width:411px){
        grid-template-rows: 100px 1fr 150px;
    }
    @media(min-width:768px){
        grid-template-columns: minmax(80px, 150px) 1fr minmax(70px,auto);
        grid-template-rows: 100px 550px 374px;
    } 
    @media(min-width:812px) and(orientation:landscape){
        grid-template-rows: 80px 175px 120px;
    }
    @media(min-width:823px) and(orientation:landscape){
        grid-template-rows: 100px 200px 110px;
    }
    @media(min-width:1024px){
        grid-template-columns: 200px 1fr auto;
        grid-template-rows: 100px 1fr 1fr;
    }
    @media(min-width:1366px){
        grid-template-rows: 100px 1fr 250px;
    }
    &__logo{
        grid-column: 1/1;
        grid-row: 1/1;
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
        margin: 0 0 0 10px;
        z-index: 1;
        text-shadow: 0px 2px 7px rgb(0, 0, 0);
        cursor: pointer;
        @media(min-width:768px){
            font-size:2rem;
        }
        @media(min-width:1024px){
            font-size:2.5rem;
        }
        &-strong{
            color: white
        }
            &-strong-dot{
                color: $rose-color
            }
    }
    // adding class to slide menu
    & .activeMenu{
        transform: translateX(70px);
        transition: all .5s;
        @media(min-width:411px) and(min-height: 731px){
            transform: translateX(130px);
        }
        @media(min-width:414px) and(min-height: 736px){
            transform: translateX(100px);
        }
        @media(min-width:533px) and (orientation:landscape){
            transform: translateX(220px);
        }
        @media(min-width:640px) and (orientation:landscape){
            transform: translateX(300px);
        }
        @media(min-width:731px) and (orientation:landscape){
            transform: translateX(400px);
        }
    }
    // adding class to slide burger
    & .activeBurger{
        transform: translateX(-120px);
        transition: all .5s;
        @media(min-width:360px){
        transform: translateX(-160px);
        }
        @media(min-width:375px){
            transform: translateX(-170px);
        }
        @media(min-width:411px) and(min-height: 731px){
            transform: translateX(-200px);
        }
        @media(min-width:411px){
            transform: translateX(-140px);
        }
        @media(min-width:414px) and(min-height: 736px){
            transform: translateX(-180px);
        }
        @media(min-width:533px) and (orientation:landscape){
            transform: translateX(-200px);
        }
        @media(min-width:568px) and (orientation:landscape){
            transform: translateX(-220px);
        }
        @media(min-width:667px) and (orientation:landscape){
            transform: translateX(-240px);
        }
        @media(min-width:736px) and (orientation:landscape){
            transform: translateX(-200px);
        }
    }
    &__menu{
        display: grid;
        grid-template-rows: 50px 50px 50px 50px 50px ;
        grid-template-columns: 110px;
        height: 100vh;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
        padding: 20px 0 0 0 ;
        transform: translateX(250px);
        transition: .5s;
        z-index: 1;
        background: white;
        @media(min-width:411px){
            transform: translateX(280px);
        }
        @media(min-width:414px) and(min-height: 736px){
            transform: translateX(290px);
        }
        @media(min-width:533px) and (orientation:landscape){
            transform: translateX(420px);
        }
        @media(min-width:568px) and (orientation:landscape){
            transform: translateX(440px);
        }
        @media(min-width:640px) and (orientation:landscape){
            transform: translateX(530px);
        }
        @media(min-width:731px) and (orientation:landscape){
            transform: translateX(600px);
        }
        @media(min-width:667px) and (orientation:landscape){
            transform: translateX(620px);
        }
        @media(min-width:768px){
            height: auto;
            display: grid;
            grid-template-rows: 40px;
            grid-template-columns: minmax(auto, 120px) minmax(auto, 120px) minmax(auto, 160px) minmax(auto, 120px) minmax(auto, 120px);
            justify-content: flex-end;
            align-content: center;
            transform: translateX(0px);
            margin-right: -60px;
            background: transparent;
            }
        @media(min-width:1024px){
            margin-right: 40px;
            }
        }  
    &__menu-link{
        margin: 20px 0 10px 0;
        letter-spacing: 1.2px;
        color: $light_black_color;
        opacity: 0;
        text-shadow: 0px 2px 3px rgb(0, 0, 0);
        text-decoration: none;
        @media(min-width:768px){
            align-self: center;
            justify-self: center;        
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.6);
            transition: .2s;
            opacity: 1;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: white;
                text-shadow: 0px 2px 7px rgb(0, 0, 0);
            }
        }
        @media(min-width:1024px){
            font-size: 2rem;
        }
    }
    &__burger{
        position: fixed;
        top: 35px;
        right: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 2;
        transition: all .4s;
        @media(min-width:360px){
            width: 35px;
            height: 35px;
        };
        @media(min-width:375px) and(min-height: 812px){
            width: 38px;
            height: 38px;
        }
        @media(min-width:411px){
            width: 42px;
            height: 42px;
        };
        @media(min-width:768px){
            display: none;
        };
        & span{
            position: absolute;
            height: 3px;
            left: 0;
            transition: .8s ease;
        }
        &-span1{
            top: 6px;
            width: 90%;
            background: $rose-color;
            // animation burger icon
            &.animBurger{
                width: 20%;
                background: white
            }
            @media(min-width:360px){
                top: 7px;
            };
            @media(min-width:411px){
                top: 8px;
            };
        }
        &-span2{
            width: 50%;
            top: calc(50% - 2px);
            background: white;
            // animation burger icon
            &.animBurger{
                width: 50%;
                background: white;
            }
            @media(min-width:360px){
                top: calc(50% - 2px);
            };
        }
        &-span3{
            width: 20%;
            bottom: 6px;
            background: white;
            // animation burger icon
            &.animBurger{
                width: 90%;
                background: $rose-color;
            }
            @media(min-width:360px){
                bottom: 7px;
            };
            @media(min-width:411px){
                bottom: 8px;
            };
        }
       
    }
    &__title{
        height: 80%;
        width: 50%;
        grid-column: 1/4;
        grid-row: 2/2;
        margin: 0 0 15px 0;
        font-family: "Oswald";
        justify-self: center;
        align-self: flex-end;
        font-size:3rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 400;
        color: white;
        text-shadow: 0px 2px 7px rgb(0, 0, 0);
        @media(min-width:320px){
            height: 95%;
        }
        @media(min-width:375px) and (min-height:812px) {
            font-size: 4rem;
            letter-spacing: 0.5px
        }
        
        @media(min-width:411px){
            font-size:4rem;
        }
        @media(min-width:533px) and(orientation:landscape){
            height: 100%;
            width:50%;
            text-align: center;
            align-self: center;
            font-size:2rem;
        }
        @media(min-width:768px){
            height: 30vh;
            width: 45vw;
            align-self: flex-end;
            text-align: center;
            font-size:4rem;
            line-height: 1.4
        }
        @media(min-width:812px) and(orientation:landscape){
            font-size:2rem
        }
        @media(min-width:823px) and(orientation:landscape){
            height: 100%;
            width:50%;
            text-align: center;
            align-self: center;
            font-size:2rem;
        }
        @media(min-width:1024px){
            font-size:5.5rem;
        }
        @media(min-width:1366px){
            height: 50vh;
            width: 45vw;
            align-self: flex-end;
            font-size:5.5rem;
        }
    }
    &__btn{
        grid-column: 1/4;
        grid-row: 3/4;
        height: 45%;
        width: 50%;
        padding: 5px;
        max-height: 100px;
        max-width: 300px;
        justify-self: center;
        font-size: .7rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        background: $rose-color;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        text-shadow: 0px 2px 7px rgb(0, 0, 0);
        box-shadow: 0px 17px 1px -10px rgba(0,0,0,0.4);
        transition: all ease-in-out .3s;
        &:hover{
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        transform: translate(0px, -10px) scale(1.1);
        }
        @media(min-width:375px){
            height: 60px;
            width: 200px ;
            font-size: .9rem;
            letter-spacing: 0.1px
        }
        @media(min-width:414px){
            height: 55px;
            width: 190px;
            font-size: .9rem;
        }
        @media(min-width:768px){
            height: 70px;
            width: 220px;
            font-size: 1rem;
        }
        @media(min-width:812px) and(orientation:landscape){
            font-size:1rem;
            height: 50px;
            width: 200px;
        }
        @media(min-width:1024px){
            height: 90px;
            width: 350px ;
            font-size: 1.4rem;
        }
        @media(min-width:1039px)and (min-height:575px){
            height: 55px;
            width: 210px ;
            font-size: 1rem;
        }
        @media(min-width:1366px){
            align-self: flex-start;
            height: 60px;
            width: 250px ;
            font-size: 1rem;
            margin: 20px;
        }
    }
}
// animation header__menu-link
@keyframes menu-links-fade{
    from{
        opacity: 0;
        transform: translateX(230px);
    }
    to{
        opacity: 1;
        transform: translateX(10px);
    }
}
