@import "reset";
@import "variables";
@import "header";
@import "shows";
@import "podcasts";
@import "recoments";
@import "bar";
@import "footer";

// font-family: 'Roboto', sans-serif; 
// font-family: 'Oswald', sans-serif; 


body{
    overflow-x: hidden;
    font-size: 10px;
    font-family: 'arial';
    margin: 0 auto;
    
}
section{
    position: relative;
    top: 100vh;
}
.arrow{
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    opacity: .5;
    box-shadow: 0px 2px 7px rgb(0, 0, 0);
    @media(min-width:768px){
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    @media(min-width:1024px){
        right: 30px;
        bottom:40px;
        line-height: 80px;
        width:  80px;
        height: 80px;
    }
    @media(min-width:1025px){
        right: 30px;
        bottom:40px;
        line-height: 60px;
        width:  60px;
        height: 60px;
    }
    &:hover{
        opacity: 1;
    }
    &-span{
        color: white;
        font-size: 2.5rem;
        @media(min-width:768px){
            font-size: 3rem;
        }
        @media(min-width:1024px){
            font-size: 4rem;
        }
        @media(min-width:1025px){
            font-size: 3.5rem;
        }
    }
}


